
<div class="online-shop">
   <div>
      <div class="breadcrumbs">
         You are here: {tag_cataloguebreadcrumbs}
      </div><!--END class="breadcrumbs"-->
      <div>
         {module_shoppingcartsummary,horizontal}
      </div>
   </div>
   <div>
      {tag_cataloguelist,4,,,,true,true} {tag_productlist,1,,,,true,true}
   </div>
   <div>
      {tag_previouspage,<img src="/CatalystImages/module_previous.png"/>} {tag_nextpage,<img src="/CatalystImages/module_next.png"/>} <br><br>{tag_pagination}
   </div>
</div>
