<div class="small-products">
	<ul class="{tag_tags}">
   	<li>
      	<div class="small-product-wrapper">
				<div class="image layout-one-half">{tag_smallimage}</div>
            <div class="content layout-one-half">
               <h2>{tag_name}<strong>&nbsp;&#8212;&nbsp;{tag_saleprice}</strong></h2>
               <div class="small-tag-grouping">{tag_grouping}</div>
               <p class="product-description">{tag_description}</p>
               <p><span class="more-info-btn">{tag_button,MORE ABOUT THIS PRODUCT}</span></p>
            </div>
            <br class="clear" /><!--restore document flow-->
			</div>
      </li>
   </ul>
</div><!--END class="small-products"-->
<hr />