<div class="small-products">
	<ul>
   	<li>
      	<hr />
      	<div class="image layout-one-half">{tag_smallimage}</div>
         <div class="content layout-one-half">
         	<h2>{tag_name}</h2>
            <p>{tag_description}</p>
            <div>{tag_grouping}</div>
            <ul>
               <li>Price: <strong>{tag_saleprice}</strong>&nbsp;</li>
               <li>Qty: <strong>{tag_addtocartinputfield}</strong> {tag_addtocart}</li>
            </ul>
         </div>
         <br class="clear" /><!--restore document flow-->
         <hr />
      </li>
   </ul>
</div><!--END class="small-products"-->