/* US Flag and Banner Master Style Sheet */

/* Table of Contents ------------------- */

/*  1.  Element Styles */
/*  2.  Class Styles (General) */
/*  3.  Template Styles */
/*  4.  Page Styles */
/*  5.  Layout Styles */
/*  6.  Type Styles */
/*  7.  Promo Box */
/*  8.  Alert Messages */
/*  9.  Tabbed Panels and Slider */
/*  10. Form Styles */

/* Other ------------------------------- */
 
/*	Color:
	Red:  #d8182c;
	Blue: #3487c3;
	Dark Grey: #555;
	Light Grey: #c2c2c2; (Page Border)
	Off White: #f8f8ff; (Page Background Color)
	Plum: #91298c; (Promo Call Out Text)
	Light Grey: #ebebeb; (Promo Background Color)
	Baige: #fffaf1; (Alert Messages - General Message Background Color)
	Light Pink: #f4d8df; (Alert Messages - Error Message Background Color)
	Light Green: #e8f1e3; (Alert Messages - Success Message Background Color)
	Dark Green: #52861f; (Alert Messages - Success Message Icon Color)
	Bannana: #f9f7db; (Alert Messages - Notice Message Background Color)
	Mustard: #81791b; (Alert Messages - Notice Message Icon Color)
*/

/*	Fonts:
	font-family: 'Lato', sans-serif;
	font-family: 'Arimo', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Anton', sans-serif;
*/

/*  1.  Element Styles ----------------- */
body { background-color: #e1e1e1; font-size: 16px; font-family: "Open Sans", Helvetica, Arial, Verdana; margin: 25px 0; }
a { color: #fff; text-decoration: none; }
a:hover { color: #d8182c; text-decoration: none; }
/* Buttons */
a.button-small { background-color: #3487c3; background-image: url(../img/backgrounds/patterns/2.png); -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; border: 2px solid #fff; -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); box-shadow: 0px 3px 5px rgba(0,0,0,0.35); display: block; font-family: "Anton", Impact, Helvetica, Arial, Verdana; font-size: 22px; line-height: 40px; height: 40px; text-align: center; width: 120px; }
a.button-medium { background-color: #3487c3; background-image: url(../img/backgrounds/patterns/2.png); -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; border: 2px solid #fff; -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); box-shadow: 0px 3px 5px rgba(0,0,0,0.35); display: block; font-family: "Anton", Impact, Helvetica, Arial, Verdana; font-size: 22px; line-height: 40px; height: 40px; text-align: center; width: 150px; }
a.button-large { background-color: #3487c3; background-image: url(../img/backgrounds/patterns/2.png); -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; border: 2px solid #fff; -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); box-shadow: 0px 3px 5px rgba(0,0,0,0.35); display: block; font-family: "Anton", Impact, Helvetica, Arial, Verdana; font-size: 22px; line-height: 40px; height: 40px; text-align: center; width: 180px; }
a.button-ex-large { background-color: #3487c3; background-image: url(../img/backgrounds/patterns/2.png); -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; border: 2px solid #fff; -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); box-shadow: 0px 3px 5px rgba(0,0,0,0.35); display: block; font-family: "Anton", Impact, Helvetica, Arial, Verdana; font-size: 22px; line-height: 40px; height: 40px; text-align: center; width: 210px; }

/*  2.  Class Styles (General) --------- */
.clear { clear: both; visibility: hidden; }
.hide { position: absolute !important; top: -9999px !important; left: -9999px !important; }
.red-border { background-color: #d8182c; height: 2px; margin: 0 auto; width: 970px; }


/*  3.  Template Styles ---------------- */
#page { background-color: #f8f8ff; border-left: 1px solid #c2c2c2; border-right: 1px solid #c2c2c2; margin: 0 auto; width: 968px; }
#page-header { background-image: url(../img/dividers/double_blue_divider.png); background-repeat: no-repeat; background-position: 316px 14px; height: 135px; }
#page-header .branding { float: left; margin-top: 44px; padding-left: 25px; width: 267px; }
#page-header nav { float: right; width: 654px; }
#page-header ul, #page-header li { float: right; }
.utility-nav { font-family: "Open Sans", Helvetica, Arial, Verdana; font-size: 15px; font-weight: 300; }
.utility-nav li { height: 45px; line-height: 45px; padding: 0 12px; text-align: center; }
.utility-nav li:last-child { font-size: 23px; }
.utility-nav a { color: #555; }
.utility-nav a:hover { color: #3487c3; }
.utility-nav .search { background-image: url(../img/icons/mag-icon.png); background-repeat: no-repeat; background-position: 10px 10px; border: 1px solid #c2c2c2; border-radius: 30px; color: #555; font-family: "Open Sans", Helvetica, Arial, Verdana; font-size: 15px; font-weight: 300; height: 30px; outline: none; padding: 0 40px; width: 170px; webkit-appearance: none; }
.main-nav { border-bottom: 1px solid #3487c3; border-top: 1px solid #3487c3; padding: 1px 0; -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.25); -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.25); box-shadow: 0px 1px 2px rgba(0,0,0,0.25);/*text-shadow: rgba(0,0,0,.5) 1px 1px 5px;*/ }
.main-nav li { background-color: #3487c3; background-image: url(../img/backgrounds/patterns/2.png);/*change later...wrong direction*/ line-height: 50px; height: 50px; text-align: center; width: 216px; }
.main-nav a { display: block; height: 50px; width: 216px; }
.main-nav a:hover { background-color: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */ background-color: rgba(0, 0, 0, .25); color: #fff; display: block; height: 50px; width: 216px; }
.main-nav .feather-flags { border-right: 1px solid #f8f8ff; border-left: 1px solid #f8f8ff; }
#page-content { min-height: 500px; }
#page-footer { background-image: url(../img/dividers/page-shadow-divider.png); background-repeat: no-repeat; background-position: top center; color: #555; padding: 10px 30px; }
#page-footer h2 { font-size: 25px; height: 45px; line-height: 45px; }
#page-footer nav { float: left; height: 45px; width: 625px; }
#page-footer ul, #page-footer li { float: left; }
#page-footer li { font-family: "Open Sans", Helvetica, Arial, Verdana; font-weight: 300; height: 45px; line-height: 45px; }
#page-footer span { margin: 0 15px; font-family: "Raleway", Helvetica, Arial, Verdana; }
#page-footer .branding { float: right; width: 195px; }
#page-footer a { color: #555; }
#page-footer a:hover { color: #3487c3; }
#page-footer small { font-size: 12px; height: 35px; line-height: 35px; }


/*  4.  Page Styles -------------------- */
/*Home.html*/



/*  5.  Layout Styles ------------------ */
.layout-full, .layout-one-half, .layout-one-third, 
.layout-one-fourth, .layout-two-third, .layout-three-fourth { background-color: #f8f8ff; border: 3px solid #fff; -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.25); -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.25); box-shadow: 0px 1px 2px rgba(0,0,0,0.25); float: left; margin-left: 30px;  }
.layout-full { width: 904px; }
.layout-one-half { width: 434px; }
.layout-one-third { width: 277.33px; }
.layout-one-fourth { width: 199px; }
.layout-two-third { width: 589px; }
.layout-three-fourth { width: 669px; }

/*  6.  Type Styles -------------------- */
h1 { font-family: "Raleway", Helvetica, Arial, Verdana; font-size: 40px; font-weight: 200; }
h2 { font-family: "Raleway", Helvetica, Arial, Verdana; font-size: 30px; font-weight: 200; }
h3 { font-family: "Raleway", Helvetica, Arial, Verdana; font-size: 20px; font-weight: 200; }
p { font-family: "Open Sans", Helvetica, Arial, Verdana; font-size: 13px; font-weight: 400; line-height: 25px; }
.icons-ul li { display: list-item;  }
.icon-ok::before { padding-right: 10px; }


/*  7.  Promo Box ---------------------- */
/*  8.  Alert Messages ----------------- */


/*  9.  Tabbed Panels and Slider ------- */
/*-- Slider --*/
#feather-flag { position: relative; }
#feather-flag .slide-img { margin-left: 75px; }
#feather-flag .slide-content { position: absolute; top: 230px; left: 500px; width: 400px; }
#feather-flag .slide-content h2 { margin: 20px 0; }
#feather-flag .slide-content p { margin: 20px 0; }
#banner { }
#banner .slide-content { margin-top: 100px; }
#banner .slide-content h2 { margin: 20px auto; text-align: center; width: 700px; }
#banner .slide-img { margin: 30px auto; width: 700px }
#banner .slide-content p { margin: 20px auto; text-align: center; width: 400px; }
#banner .slide-content a { margin: 20px auto; }
#us-flag { padding-top: 100px; }
#us-flag .slide-img { float: left; padding: 0 30px; width: 360px; }
#us-flag .slide-content { float: left; margin: 100px 0 0 0; padding: 0 30px; width: 488px; }
#us-flag .slide-content h2 { margin: 20px auto; text-align: center; width: 445px; }
#us-flag .slide-content p { margin: 20px auto; text-align: center; width: 400px; }
#us-flag .slide-content a { margin: 20px auto; }
.flexslider h2 { font-size: 60px; font-weight: 200; }
.flexslider p { font-family: "Raleway", Helvetica, Arial, Verdana; font-size: 25px; font-weight: 200; }
.flexslider a { background-color: #3487c3; background-image: url(../img/backgrounds/patterns/2.png); -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; border: 2px solid #fff; -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.35); box-shadow: 0px 3px 5px rgba(0,0,0,0.35); display: block; font-family: "Anton", Impact, Helvetica, Arial, Verdana; font-size: 22px; font-weight: 700; line-height: 40px; height: 40px; text-align: center; width: 120px; }
/*Tabbd Panels*/
/*See spry style sheet*/

/*  10. Form Styles -------------------- */
::-webkit-input-placeholder { color: #555; }
::-moz-placeholder { color: #555; } /* firefox 19+ */
:-ms-input-placeholder { color: #555; } /* ie */
input:-moz-placeholder { color: #3487c3; }

