<head>
	<style>
   	strong { font-family: "Raleway", Helvetica, Arial, Verdana; font-size: 18px; font-weight: 300; color: #2e82c8; display: inline-block; margin: 0 0 2px 0; }
		td { padding-bottom: 15px; }
		.system-message { margin-bottom: 75px; }
   </style>
</head>
<div class="system-message">
	<h1 style="color: #5082c6">Thank you for your submission</h1>
	<p><span class="error">{module_error}</span></p>
    <div class="webform-results">{module_webformresults}</div>
</div><!-- END .system-message -->

