
<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,700|Arimo:700|Raleway:200|Open+Sans:400italic,400,300' rel='stylesheet' type='text/css'>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=1200" />
   <title>{tag_pagetitle}</title>
   <link href="../Assets/css/main.css" type="text/css" rel="stylesheet" />
   <script src="../Assets/lib/jQuery/jquery-1.9.1.min.js" type="text/javascript"></script>
   <script src="../Assets/lib/modernizr/modernizr.custom.45783.js" type="text/javascript"></script>
   <script src="../Assets/js/main.js" type="text/javascript"></script>
</head>

<body>
	{tag_pagecontent}
</body>
</html>
