<!doctype html>
<html>
<head>
   <link href='http://fonts.googleapis.com/css?family=Lato:100,700|Anton|Arimo:700|Raleway:200,300|Roboto+Slab:400,700|Open+Sans:400italic,400,300' rel='stylesheet' type='text/css'>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=1200" />
   <title>{tag_pagetitle}</title>
   <link href="../Assets/css/reset.css" type="text/css" rel="stylesheet" />
   <link href="../Assets/lib/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" />
   <script src="../Assets/lib/jQuery/jquery-1.9.1.min.js" type="text/javascript"></script>
   <script src="../Assets/lib/modernizr/modernizr.custom.45783.js" type="text/javascript"></script>
   <script src="../Assets/js/main.js" type="text/javascript"></script>
   <link href="../Assets/css/main10.css" type="text/css" rel="stylesheet" />
   <!--[if lt IE 9]>
	<link rel="stylesheet" href="../Assets/lib/font-awesome/css/font-awesome-ie7.min.css">
	<![endif]-->
</head>

<body>
   <h1 class="hide">US Flag and Banner</h1><!-- accessibility and HTML5 outline -->
   <div class="red-border"></div><!--purely aesthetic...bad practice...temporary until find better solution-->
   <div id="page">
      <header id="page-header">
      	<div class="branding"><a href="../home.html"><img src="../Assets/img/branding/logo.png" width="267" height="57" alt="US Flag and Banner Logo"></a></div><!--END class="branding"-->
         <nav>
            <h2 class="hide">Navigation</h2><!-- accessibility and HTML5 outline -->
            <ul class="utility-nav">
            	<li>
               	<form name="catsearchform90064" method="post" action="/Default.aspx?SiteSearchID=2846&ID=/search-results.html">
                     <div class="search-box">
                        <input class="search" type="text" name="CAT_Search" id="CAT_Search" placeholder="Search..." />
                        <input class="cat_button hide" type="submit" value="Search" />
                     </div>
                  </form>
               </li>
               <li><a href="../Account/account.html">My Account</a></li>
               <li><a href="../faq.html">Help</a></li>
               <li><a href="../contact.html">Contact</a></li>
               <li><a href="../about.html">About</a></li>
               <li><a href="../home.html" class="icon-home"><span class="hide">Home</span></a></li>
            </ul>
            <br class="clear" /><!--restore document flow-->
            <ul class="main-nav">
            	<li><a href="/shop">SHOP All</a></li>
            	<li><a href="../banners.html">BANNERS</a></li>
               <li class="feather-flags"><a href="../featherflags.html">FEATHER FLAGS</a></li><!--END class="feather-flags"-->
               <li><a href="../usflags.html">US FLAGS</a></li>
            </ul>
         </nav>
         <br class="clear" /><!--restore document flow-->
         
      </header><!--END id="page-header"-->
      <section id="page-content">
         <h2 class="hide">Content</h2><!-- accessibility and HTML5 outline -->
         {tag_pagecontent}
      </section><!--END id="page-content"-->
      <footer id="page-footer">
      	<h2>More</h2>
         <nav>
         	<ul>
            	<li><a href="../about.html">ABOUT</a><span>|</span></li>
               <li><a href="../faq.html">FAQs</a><span>|</span></li>
               <li><a href="#">FACEBOOK</a><span>|</span></li>
               <li><a href="#">TWITTER</a><span>|</span></li>
               <li><a href="#">GOOGLE +</a></li>
            </ul>
         </nav>
         <div class="branding"><a href="../home.html"><img src="../Assets/img/branding/logo.png" width="195" alt="US Flag and Banner Logo"></a></div><!--END class="branding"-->
         <br class="clear" /><!--restore document flow-->
         <small>Copyright &copy; <span>-</span> 2013 US Flag and Banner <span>-</span><a href="../terms.html">Terms of Use</a> <span>-</span><a href="../privacy.html">Privacy Policy</a></small>
      </footer><!--END id="page-footer"-->
   </div><!--END id="page"-->
   <div class="red-border"></div><!--purely aesthetic...bad practice...temporary until find better solution-->
</body>
</html>
