<div id="TabbedPanels1" class="TabbedPanels">
<ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab" tabindex="0">Details</li>
    <li class="TabbedPanelsTab" tabindex="0">FAQs</li>
</ul>
<div class="TabbedPanelsContentGroup">
<div class="TabbedPanelsContent">
<p>{tag_details}</p>
</div>
<div class="TabbedPanelsContent">
<p>{tag_faqs}</p>
</div>
</div>
<!--END class="TabbedPanelsContentGroup"-->
</div>
<!--END id="TabbedPanels1"-->
<script type="text/javascript">
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>
